
#container{
  width: 1000px;
  margin: auto;
  background-color: white;
}
.immagine{
  width: 300px;
  position: relative;
  display: inline-block;
}
.sconto {
  display:block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}
#sconto_rosso{
  display:block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
}

.cuore{
  position: absolute;
  bottom: 0;
  left: 50%;
  color: red;
  display: none;
}
.immagine:hover .cuore{
  display: block;
}
