
#container{
  width: 1000px;
  margin: auto;
  background-color: white;
  padding: 1%;
}
.immagine{
  width: 300px;
  position: relative;
  display: inline-block;
}
/* Inizio delle proprietà relative agli elementi all'interno delle immagini */
.sconto {
  display:block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}
/* Ricordati il display block quando usi position absolute */
#sconto_rosso{
  display:block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
}

.cuore{
  position: absolute;
  bottom: 0;
  left: 50%;
  color: red;
  display: none;

}

/* Quando il mouse passa sopra la classe "immagine"
assegna questi attributi alla classe cuore */
.immagine:hover .cuore{
  display: block;
}
/* Fine delle proprietà relative agli elementi all'interno delle immagini */
